@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-x {
  animation: gradient-x 5s ease infinite;
  background-size: 200% 200%;
}

.neon-text {
  text-shadow: 0 0 5px #fff, 0 0 5px #ff4da6, 0 0 5px #ff4da6, 0 0 40px #ff4da6, 0 0 80px #ff4da6;
}
